{{define "base"}}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Go HTMX Example">
    <meta name="theme-color" content="#ffffff">
    <title>{{template "title" .}}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml"
        href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>💰</text></svg>">


    <!-- External Resources -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/class-tools.js"></script>

    <!-- Custom Styles -->
    <style type="text/css">
        /* Custom scrollbar */
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 4px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #666;
        }
    </style>
</head>

<body class="min-h-screen bg-gray-50" hx-ext="response-targets,class-tools">
    <main class="flex-grow container mx-auto px-4 sm:px-6 py-4 sm:py-8">
        {{template "content" .}}
    </main>
</body>

</html>
{{end}}